<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="\style.css" />
    <title>Banco de los Andes</title>
</head>

<body>
    <h1>Cajero Automático del Banco de los Andes</h1>
    <p class="general">¡Bienvenida/o!<br />
        ¿Cuánto dinero deseas retirar?
    </p>
    <p>
        <input type="number" id="cantidad" />
        <input type="button" value="Enviar" id="solicitudDinero" />
    </p>
    <p class="semititulo" id="resultado1">
    </p>
    <p class="texto" id="resultado2">

    </p>
    <script type="text/javascript" src="\script.js"></script>
</body>

</html>